html {
   box-sizing: border-box;
   font-size: 5rem;
   font-family: 'sans-serif';
   padding: 0;
   margin: 0;
}

body {
   padding: 0;
   margin: 0;
   background-color: #26030c;
}

.container {
   display: flex;
   flex-direction: row;
}

.container--left,
.container--right {
   flex-direction: column;
   width: 15vw;
   background-color: #2b3040;
   flex-shrink: 1;
   align-items: center;
}

.container--main {
   flex-grow: 2;
}

.plant-holder {
   display: inline-block;
   cursor: pointer;
   max-height: 2rem;
   min-height: 1.25rem;
   width: 60%;
   position: relative;
}

img {
   position: absolute;
   z-index: 9;

   height: 100%;
   cursor: pointer;
}

.jar {
   width: 70%;
   height: 70%;
   margin: auto auto;
}

.jar-wall {
   width: 100%;
   height: 80%;
   border-radius: 0.25rem 0.25rem 0 0;
   background-image: url('./images/aquarium.jpg');
}
